<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }} | {{ page.title }}</title>
    <script src="https://kit.fontawesome.com/f4b902f1d9.js" crossorigin="anonymous"></script>

    <!--Meta tags-->
    <!-- Primary Meta Tags -->
    <meta name="title" content="{{ page.title }} - {{ site.title }}" />
    <meta name="description" content="{{ page.description }}" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:title" content="{{ page.title }} - {{ site.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:image" content="{{ page.image }}" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ site.url }}" />
    <meta property="twitter:title" content="{{ page.title }} - {{ site.title }}" />
    <meta property="twitter:description" content="{{ page.description }}" />
    <meta property="twitter:image" content="{{ page.image }}" />

    <!--Browser Toolbar Colour-->
    <meta name="theme-color" content="#f8f9fa">

    <!-- Template Assets -->
     
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Vendor CSS Files -->
     
    <link rel="stylesheet" href="{{ "/assets/vendor/bootstrap/css/bootstrap.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/vendor/bootstrap-icons/bootstrap-icons.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/vendor/aos/aos.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/vendor/fontawesome-free/css/all.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/vendor/glightbox/css/glightbox.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/vendor/swiper/swiper-bundle.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

    <!--Favicon stuff-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

    <!-- SEO -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H8WZT65ZZZ"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-H8WZT65ZZZ');
    </script>
</head>