---
layout: default
---

<!-- Hero Section -->
<section id="hero" class="hero section light-background">

  <img src="/assets/img/carousel_image2.jpg" alt="" data-aos="fade-in">

  <div class="container position-relative">

    <div class="welcome position-relative" data-aos="fade-down" data-aos-delay="100">
      <h2 class="text-light">WELCOME TO ZIMSA</h2>
      <p class="text-light">Empowering the next generation of healthcare leaders in Zimbabwe through education, community service, and advocacy.</p>
    </div><!-- End Welcome -->

    <div class="content row gy-4">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="why-box" data-aos="zoom-out" data-aos-delay="200">
          <h3>Why Join ZIMSA?</h3>
          <p>
            ZIMSA is a platform for medical students to grow professionally and make a difference in their communities. Through training, community health projects, and international collaborations, we equip students with the skills and knowledge to address critical health challenges in Zimbabwe and beyond.
          </p>
          <div class="text-center">
            <a href="#about" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
          </div>
        </div>
      </div><!-- End Why Box -->

      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="d-flex flex-column justify-content-center">
          <div class="row gy-4">

            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-out" data-aos-delay="300">
                <i class="bi bi-clipboard-data"></i>
                <h4>Community Health Projects</h4>
                <p>ZIMSA leads initiatives like the IMUNZI Project, focusing on HIV/AIDS awareness and mental health support for youth in Zimbabwe.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-out" data-aos-delay="400">
                <i class="bi bi-gem"></i>
                <h4>Training & Workshops</h4>
                <p>We organize annual training sessions to equip students with skills in health education, leadership, and peer-to-peer facilitation.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box" data-aos="zoom-out" data-aos-delay="500">
                <i class="bi bi-inboxes"></i>
                <h4>Global Collaboration</h4>
                <p>ZIMSA partners with international organizations like IFMSA to promote global health initiatives and share best practices.</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>
      </div>
    </div><!-- End Content-->

  </div>

</section><!-- /Hero Section -->


<!-- About Section -->
<section id="about" class="about section">

  <div class="container">

    <div class="row gy-4 gx-5">

      <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="200">
        <img src="/assets/img/carousel_image3.jpg" class="img-fluid" alt="">
        <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox pulsating-play-btn"></a>
      </div>

      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
        <h3>About Us</h3>
        <p>
          The Zimbabwe Medical Students Association (ZIMSA) is a dynamic organization dedicated to empowering medical students across Zimbabwe. Through education, community service, and advocacy, we aim to address critical health challenges and shape the future of healthcare in our nation.
        </p>
        <ul>
          <li>
            <i class="fa-solid fa-vial-circle-check"></i>
            <div>
              <h5>Community Health Initiatives</h5>
              <p>We lead impactful projects like the IMUNZI Project, focusing on HIV/AIDS awareness and mental health support for youth.</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-pump-medical"></i>
            <div>
              <h5>Training & Capacity Building</h5>
              <p>ZIMSA organizes workshops and training sessions to equip students with skills in health education, leadership, and peer facilitation.</p>
            </div>
          </li>
          <li>
            <i class="fa-solid fa-heart-circle-xmark"></i>
            <div>
              <h5>Global Collaboration</h5>
              <p>We partner with international organizations like IFMSA to promote global health initiatives and share best practices.</p>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>

</section><!-- /About Section -->

  <!-- Stats Section -->
<section id="stats" class="stats section light-background">

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
        <i class="fa-solid fa-user-doctor"></i>
        <div class="stats-item">
          <span data-purecounter-start="0" data-purecounter-end="1200" data-purecounter-duration="1" class="purecounter"></span>
          <p>Members</p>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
        <i class="fa-regular fa-hospital"></i>
        <div class="stats-item">
          <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
          <p>Medical Schools Represented</p>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
        <i class="fas fa-flask"></i>
        <div class="stats-item">
          <span data-purecounter-start="0" data-purecounter-end="25" data-purecounter-duration="1" class="purecounter"></span>
          <p>Research Projects</p>
        </div>
      </div><!-- End Stats Item -->

      <div class="col-lg-3 col-md-6 d-flex flex-column align-items-center">
        <i class="fas fa-award"></i>
        <div class="stats-item">
          <span data-purecounter-start="0" data-purecounter-end="50" data-purecounter-duration="1" class="purecounter"></span>
          <p>Awards and Recognitions</p>
        </div>
      </div><!-- End Stats Item -->

    </div>

  </div>

</section><!-- /Stats Section -->


    <!--Blog Section-->
    <section class="container mt-5">
      <h2 class="featurette-heading fw-normal lh-1">What have we been up to? <span class="text-body-secondary">Read on...</span></h2>
      <p class="lead">our blog, updated by our standing committees</p>
      <div class="row">
        {% for post in site.posts limit:3 %}
          {% include article-control.html %}
        {% endfor %}
      </div>
    </section>
    


    <!-- START THE FEATURETTES -->
    <hr class="featurette-divider">
    <div class="row featurette align-items-center justify-content-center px-5">
        <div class="col-xl-6 col-xxl-6 text-center">
          <img src="/assets/img/zimsa-magazine.jpeg" alt="..." class="img-fluid" style="max-height: 500px;"/>
      </div>
      <div class="col-lg-6 col-xl-6 col-xxl-4">
          <div class="my-5 text-center text-xl-start">
            <h2 class="featurette-heading fw-normal lh-1">Missed out on 2023? <span class="text-body-secondary">Catch up!</span></h2>
            <p class="lead">Download and read our 2023 magazine</p>
            <a href="/assets/downloads/zimsa_mag_2023.pdf" class="btn btn-primary">Download</a>
          </div>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div>

  <!--UNIVERSITIES SECTION-->
  <div class="container px-4 py-5">  
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis">Member Universities</h2>
        <p class="text-body-secondary">Zimsa has members from universities all over Zimbabwe. Here are the member universities.</p>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4">
          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center border shadow p-3 bg-gradient fs-4 rounded-3">
              <img src="assets/img/universities/uz.png" alt="..." class="img-fluid university-img"/>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">University of Zimbabwe</h4>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center border shadow p-3 bg-gradient fs-4 rounded-3">
              <img src="assets/img/universities/msu.png" alt="..." class="img-fluid university-img"/>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Midlands State University</h4>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center border shadow p-3 bg-gradient fs-4 rounded-3">
              <img src="assets/img/universities/gzu.png" alt="..." class="img-fluid university-img"/>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">Great Zimbabwe University</h4>
          </div>

          <div class="col d-flex flex-column gap-2">
            <div class="feature-icon-small d-inline-flex align-items-center justify-content-center border shadow p-3 bg-gradient fs-4 rounded-3">
              <img src="assets/img/universities/nust.png" alt="..." class="img-fluid university-img"/>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">National University of Science & Technology</h4>
          </div>
        </div>
      </div>
    </div>
  </div>